@import "~bootstrap/scss/bootstrap";

.hstack {
  overflow-x: auto;
}
.hstack::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.hstack {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
