$primary: #efede7 !default;
$secondary: #c7c788 !default;
$success: #c1abad !default;
$info: #7f867b !default;
$warning: #d4bab0 !default;
// $danger: $red !default;
// $light: #e8e8e8 !default;
// $dark: $gray-900 !default;

@import "~bootstrap/scss/bootstrap.scss";
